!!! 5
%html{ lang: "#{ I18n.locale }" }
  %head
    %meta{ charset: "utf-8"}
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }

    %meta{ property: "og:description", content: "#{ current_page.data.description }" }
    %meta{ property: "og:image", content: "/apple-touch-icon.png" }
    %meta{ property: "og:title", content: "#{ current_page.data.title } &mdash; Llama Studio" }
    %meta{ property: "og:url", content: "https://llama.studio" }

    %meta{ content: "#{ current_page.data.description }", name: "description" }

    %link{ rel: "icon", href: "/favicon--16x16.png", sizes: "16x16", type: "image/png" }
    %link{ rel: "icon", href: "/favicon--32x32.png", sizes: "32x32", type: "image/png" }
    %link{ rel: "icon", href: "/favicon--96x96.png", sizes: "96x96", type: "image/png" }

    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon.png" }
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon--152x152.png", sizes: "152x152" }
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon--167x167.png", sizes: "167x167" }
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon--180x180.png", sizes: "180x180" }

    = javascript_include_tag "vendor/turbolinks-5.2.0"

    = stylesheet_link_tag "https://use.typekit.net/bvk8xtf.css", media: "all"
    = stylesheet_link_tag "application", media: "all"

    %title
      #{ current_page.data.title } &mdash; Llama Studio

  %body{ id: :ue }
    %div{ class: :site_area, id: :site }
      %div{ class: :site_header_area }
        %div{ class: :site_header_area__region }
          %a{ class: :logo, href: '/' }
            Llama Studio

        %div{ class: :site_header_area__region }
          %div{ class: :menu }
            %ul{ class: :menu__list }
              %li{ class: :menu__node }
                %a{ class: [:menu__link, 'hover'], href: '/' }
                  %strong
                    En<span class="hide@fablet hide@tablet_portrait">glish</span>

              %li{ class: :menu__node }
                %a{ class: :menu__link, disabled: true, href: '/' }
                  Es<span class="hide@fablet hide@tablet_portrait">pañol</span>

      %div{ class: :site_main_area }
        = yield

      %div{ class: :site_menu_area }
        %div{ class: :site_menu_area__region }
          %div{ class: [:menu, 'menu--cols@mobile', 'menu--rows@tablet_portrait', 'menu--rows@tablet_landscape', 'menu--rows@laptop', 'menu--rows@cinema'] }
            %ul{ class: :menu__list }
              %li{ class: :menu__node }
                %a{ class: [:menu__link, "#{ "hover" if ["about"].include? current_page.data.hover }"], href: '/about' }
                  - if current_page.data.hover == "about"
                    %strong Information
                  - else
                    Information

              %li{ class: :menu__node }
                %a{ class: [:menu__link, "#{ "hover" if ["contact"].include? current_page.data.hover }"], href: '/contact' }
                  - if current_page.data.hover == "contact"
                    %strong Get in touch
                  - else
                    Get in touch

            %ul{ class: :menu__list }
              %li{ class: :menu__node }
                %a{ class: :menu__link, href: 'https://www.linkedin.com/company/llama-studio-ltd/' }
                  LinkedIn

              %li{ class: :menu__node }
                %a{ class: :menu__link, href: 'https://medium.com/llama-studio' }
                  Medium

      %div{ class: :site_footer_area }
        %div{ class: :site_footer_area__region }

        %div{ class: :site_footer_area__region }
          %div{ class: :menu }
            %ul{ class: :menu__list }
              %li{ class: :menu__node }
                &copy; Llama Studio Ltd., 2016&thinsp;&mdash;&thinsp;#{ Time.new.strftime("%Y") }.