---

title:  Hello

hover:  index
layout: default

---

%div{ class: :site_main_area__region }
  %div{ class: :lead }
    %h1{ class: :lead__head_1° }
      Llama Studio is the portfolio of Ben Sekulowicz-Barclay, a user experience designer based in Valencia, Spain.

%div{ class: :site_main_area__region }
  %div{ class: :card }
    %div{ class: :card__header }
      %h1{ class: :card__head_1° }
        Featured case study

    %div{ class: :card__region }
      %div{ class: [:grid, 'grid--1_up@mobile', 'grid--1_up@fablet', 'grid--1_up@tablet_portrait', 'grid--1_up@tablet_landscape', 'grid--1_up@laptop', 'grid--1_up@cinema'] }
        %ul{ class: :grid__list }
          - blog.articles.select { |p| p.data[:category].downcase == 'article' }.each do |post|
            %li{ class: :grid__node }
              %a{ class: :cell }
                %a{ class: :cell, data: { category: post.data.category.downcase, client: post.data.client.downcase }, href: url_for(post.path) }
                  %div{ class: :cell__header }
                    %picture
                      %source{ media: "(min-width:667px) and (max-width:767px)", srcset: "#{ post.url }cell@fablet.png" }
                      %source{ media: "(min-width:768px) and (max-width:1023px)", srcset: "#{ post.url }cell@tablet_portrait.png" }
                      %source{ media: "(min-width:1024px) and (max-width:1279px)", srcset: "#{ post.url }cell@tablet_landscape.png" }
                      %source{ media: "(min-width:1280px) and (max-width:1679px)", srcset: "#{ post.url }cell@laptop.png" }
                      %source{ media: "(min-width:1680px)", srcset: "#{ post.url }cell@cinema.png" }
                      %img{ src: "#{ post.url }cell@mobile.png", alt: "Cover image - '#{ post.data.title }'" }

                  %div{ class: :cell__region }
                    %div{ class: :cell__head_1° }
                      #{ post.data.client }

                    %div{ class: :cell__head_2° }
                      #{ post.data.title }.

%div{ class: :site_main_area__region }
  %div{ class: :card }
    %div{ class: :card__header }
      %h1{ class: :card__head_1° }
        Recent work

    %div{ class: :card__region }
      %div{ class: [:grid, 'grid--1_up@mobile', 'grid--2_up@fablet', 'grid--2_up@tablet_portrait', 'grid--2_up@tablet_landscape', 'grid--2_up@laptop', 'grid--2_up@cinema'] }
        %ul{ class: :grid__list }
          - blog.articles.select { |p| p.data[:category].downcase == 'project' }.each do |post|
            %li{ class: :grid__node }
              %a{ class: :cell }
                %a{ class: :cell, data: { category: post.data.category.downcase }, href: url_for(post.path) }
                  %div{ class: :cell__header }
                    %picture
                      %source{ media: "(min-width:667px) and (max-width:767px)", srcset: "#{ post.url }cell@fablet.png" }
                      %source{ media: "(min-width:768px) and (max-width:1023px)", srcset: "#{ post.url }cell@tablet_portrait.png" }
                      %source{ media: "(min-width:1024px) and (max-width:1279px)", srcset: "#{ post.url }cell@tablet_landscape.png" }
                      %source{ media: "(min-width:1280px) and (max-width:1679px)", srcset: "#{ post.url }cell@laptop.png" }
                      %source{ media: "(min-width:1680px)", srcset: "#{ post.url }cell@cinema.png" }
                      %img{ src: "#{ post.url }cell@mobile.png", alt: "Cover image - '#{ post.data.title }'" }

                  %div{ class: :cell__region }
                    %div{ class: :cell__region }
                      %div{ class: :cell__head_1° }
                        #{ post.data.client }

                      %div{ class: :cell__head_2° }
                        #{ post.data.title }.